.outer_login{
    display : flex;
    flex-direction: column;
    justify-content:center;
    margin-left:400px;
    height: 100vh;
    max-width: 500px;
    color: azure;
}
.loginpage_title{
    font-size:50px;
    margin-top: 30px;
    padding: 33%;
    padding-bottom: 0px;
}

.login {
    background-repeat:no-repeat;
    background-position: center;
    background-color: black;
    background-image:url(../logo_only_flower_loginpage.png);
    min-height:100%;
}
